<div style="float:right; padding-top: 15px; padding-right: 15px">
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="250">
        </a>
    </div>
</div>

# Dictionaries, Sets and Tuples

## Tuples

Tuples are sequences just like list. However, the main difference between tuples and lists is that tuples are immutable. This means that the values inside of a tuple cannot be overwritten (or mutated) once the tuple is defined and new values cannot be added

In [28]:
chocolates = ('dark', 'milk', 'semi sweet')

chocolates

('dark', 'milk', 'semi sweet')

In [ ]:
chocolates[0]

In [ ]:
chocolates[0] = 'caramel filled'

In [ ]:
chocolates[3] = 'caramel filled'

In [ ]:
len(chocolates)

In [ ]:
for chocolate in chocolates:
    print(chocolate)

In [ ]:
list(chocolates)

In [ ]:
set(chocolates)

In [ ]:
tuple(chocolates)

In [ ]:
lst = [1,2,3,[4, 9, len], 'caballo', ('asdf', 'sdfsf'), None]

lst

In [ ]:
len(lst)

In [ ]:
lst[5] = 'añlsdkfj ñlakdjsf '

In [ ]:
lst

In [ ]:
lst[5][0] = 'munitis'

In [ ]:
lst[5] = ('oleguer', 'arnau')

In [ ]:
lst[5][1]

## Dictionaries

Sometimes we don't just want to store data in a sequence. There are cases where we want to easily retrieve our data rather than iterate through an entire list. There are also cases where we need to label our data. For those cases we should use unique key storing that dictionaries provide

In [21]:
contacts = {
    'John': '312-555-1234', # key1, value1
    'Paul': '312-555-3123', # key2, value2
    'George': '312-555-3333', 
    'Ringo': '312-555-2222'
}

contacts

{'John': '312-555-1234',
 'Paul': '312-555-3123',
 'George': '312-555-3333',
 'Ringo': '312-555-2222'}

In [22]:
len(contacts)

4

In [23]:
contacts.keys()

dict_keys(['John', 'Paul', 'George', 'Ringo'])

In [24]:
list(contacts.keys())

['John', 'Paul', 'George', 'Ringo']

In [25]:
contacts.values()

dict_values(['312-555-1234', '312-555-3123', '312-555-3333', '312-555-2222'])

In [26]:
contacts.items()

dict_items([('John', '312-555-1234'), ('Paul', '312-555-3123'), ('George', '312-555-3333'), ('Ringo', '312-555-2222')])

In [27]:
list(contacts.items())

[('John', '312-555-1234'),
 ('Paul', '312-555-3123'),
 ('George', '312-555-3333'),
 ('Ringo', '312-555-2222')]

In [30]:
contacts

{'John': '312-555-1234',
 'Paul': 2,
 'George': '312-555-3333',
 'Ringo': '312-555-2222'}

In [33]:
contacts['Paul'] = 2
contacts['George'] = ['312-555-1111', 5, {3,4}]
contacts['John'] = {'test_key': 'test_value'}

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222'}

In [35]:
contacts['Mark'] = 1

In [36]:
contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222',
 'Mark': 1}

In [44]:
list(contacts.items())

[('John', {'test_key': 'test_value'}),
 ('Paul', 2),
 ('George', ['312-555-1111', 5, {3, 4}]),
 ('Ringo', '312-555-2222'),
 ('Mark', 1)]

In [38]:
contacts['John']['test_key']

'test_value'

In [42]:
list(contacts.items())[0]

('John', {'test_key': 'test_value'})

In [40]:
contact_items = list(contacts.items())

contact_items[0]

('John', {'test_key': 'test_value'})

In [51]:
query_tuple = list(contacts.items())[0]

print(query_tuple)

print(query_tuple[0])
print(query_tuple[1])

print(query_tuple[1]['test_key'])

('John', {'test_key': 'test_value'})
John
{'test_key': 'test_value'}
test_value

In [52]:
query_tuple[1][0]

KeyError: 0

In [53]:
contacts['Pete'] = '312-555-1111'

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222',
 'Mark': 1,
 'Pete': '312-555-1111'}

In [54]:
del contacts['Pete']

contacts

{'John': {'test_key': 'test_value'},
 'Paul': 2,
 'George': ['312-555-1111', 5, {3, 4}],
 'Ringo': '312-555-2222',
 'Mark': 1}

In [57]:
for i in contacts.keys():
     print(i)

print()

for i in contacts.values():
     print(i)

print()

for i in contacts:
    print(i)

John
Paul
George
Ringo
Mark

{'test_key': 'test_value'}
2
['312-555-1111', 5, {3, 4}]
312-555-2222
1

John
Paul
George
Ringo
Mark

In [58]:
contacts.items()

dict_items([('John', {'test_key': 'test_value'}), ('Paul', 2), ('George', ['312-555-1111', 5, {3, 4}]), ('Ringo', '312-555-2222'), ('Mark', 1)])

In [66]:
for item in contacts.items():
    print(item)
    key = item[0]
    value = item[1]
    
    print(f'key {key}: value {value}')

print()
        
for key, value in contacts.items():
     print(f'{key}: {value}')

('John', {'test_key': 'test_value'})
key John: value {'test_key': 'test_value'}
('Paul', 2)
key Paul: value 2
('George', ['312-555-1111', 5, {3, 4}])
key George: value ['312-555-1111', 5, {3, 4}]
('Ringo', '312-555-2222')
key Ringo: value 312-555-2222
('Mark', 1)
key Mark: value 1

John: {'test_key': 'test_value'}
Paul: 2
George: ['312-555-1111', 5, {3, 4}]
Ringo: 312-555-2222
Mark: 1

## Sets

Sets are unordered collections of unique elements. Similar to lists, they are also mutable

In [ ]:
set_eg = {1,1,1,1,2,3}

set_eg

In [ ]:
set_eg[0]

In [ ]:
letters = set()

letters

In [ ]:
letters.add('a')

letters

In [ ]:
letters.add('a')

letters

In [ ]:
letters.add('b')

letters

In [ ]:
letters.remove('a')

letters

In [ ]:
girl_names = {'Mary', 'Madison', 'Logan', 'Joanna'}
boy_names = set(['John', 'Alexander', 'Logan', 'Madison'])

unisex_names = girl_names.intersection(boy_names)
print(unisex_names)

all_names = boy_names.union(girl_names)
print(all_names)

boy_only_names = boy_names - girl_names
print(boy_only_names)

girl_only_names = girl_names - boy_names
print(girl_only_names)

In [ ]:
all_names = boy_names + girl_names
print(all_names)

In [ ]:
text_with_duplicates = 'this is a great great blue car'

In [ ]:
text_list = text_with_duplicates.split()

text_list

In [ ]:
list(set(text_list))

In [ ]:
# for keeping order
unique_words = []

for word in text_list:
    if word not in unique_words:
        unique_words.append(word)
        
' '.join(unique_words)

<div style="padding-top: 25px; float: right">
    <div>    
        <i>&nbsp;&nbsp;© Copyright by</i>
    </div>
    <div>
        <a href="https://whiteboxml.com">
            <img src="https://whiteboxml.com/static/img/logo/black_bg_white.svg" width="125">
        </a>
    </div>
</div>